* {
    box-sizing: border-box;
}

#HomePage {
    display: block;
}

body {
    background-color: antiquewhite;
}

.header img {
    max-width: 100px;
}

.header {
    font-size: 36px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.springRolls img,
.pho img,
.bun-cha img {
    border-radius: 28px;
    max-width: 250px;
}

.foods {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* Recipe section */
.phoImg img {
    max-width: 800px;
    border-radius: 28px;
}


.phoImg h1 {
    font-size: 36px;
}
.pho-section {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* change to flex */
.phoRecipe h1 {
    font-size: 55px;
    text-align: center;
}

.phoRecipe {
    border-style: inset;
    border-color: pink;
    background-color: white;
    border-radius: 24px;
    border-width: 10px;
    margin-bottom: 160px;
    padding-bottom: 160px;
}

@font-face {
    font-family: pixelFont;
    src: url(pixel.ttf);
}

.phoRecipe h1,
.phoRecipe .ingredients h3,
.phoRecipe .ingredients li,
.phoRecipe .secondIngredients h3,
.phoRecipe .secondIngredients li {
    font-family: pixelFont;
}

.phoRecipe .ingredients {
    display: flex;
    justify-content: space-around;
}

.phoRecipe .ingredientsHeading {
    margin-bottom: 160px;
}

/* Spring Roll section */

.springRollImg img {
    max-width: 650px;
    border-radius: 28px
}

.springRollImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-size: 36px;
}

.springRoll-section {
    margin-top: 160px;
    margin-bottom: 160px;
}

.springRoll-Recipe .ingredientsHeading {
    text-align: center;
    font-size: 55px;
}

.springRoll-Recipe .ingredients {
    display: flex;
    justify-content: space-around;
}

.springRoll-Recipe {
    border-style: inset;
    border-color: lightcyan;
    background-color: white;
    border-radius: 24px;
    border-width: 10px;
    margin-bottom: 160px;
    padding-bottom: 160px;
}

.springRoll-Recipe h1,
.springRoll-Recipe .ingredients h3,
.springRoll-Recipe .ingredients li,
.springRoll-Recipe .Sauce h3,
.springRoll-Recipe .Assembling li {
    font-family: pixelFont;
}

.springRoll-Recipe .ingredientsHeading {
    margin-bottom: 160px;
}

/*  Buna Cha section*/
.BunaChaImg img {
    max-width: 800px;
    border-radius: 28px;
}

.BunaCha-section {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    font-size: 36px;
}


.BunaChaRecipe .ingredientsHeading {
    text-align: center;
}

.BunaCha-Recipe {
    border-style: inset;
    border-color: lightcyan;
    background-color: white;
    border-radius: 24px;
    border-width: 10px;
    margin-bottom: 160px;
    padding-bottom: 160px;
}

.ingredients {
    display: flex;
    justify-content: space-around;
}

.BunaCha-Recipe .ingredientsHeading {
    text-align: center;
    margin-bottom: 160px;
}

.BunaCha-Recipe h1,
.BunaCha-Recipe .ingredients h3,
.BunaCha-Recipe .ingredients li,
.BunaCha-Recipe .Sauce h3,
.BunaCha-Recipe .secondIngredients li {
    font-family: pixelFont;
}

/* Button */
button {
   border-radius: 24px;
   padding: 10px;
   background-color: antiquewhite;
}