* {
    box-sizing: border-box;
}

#HomePage {
    display: block;
}

body {
    background-color: antiquewhite;
}

.header img {
    max-width: 100px;
}

.header {
    font-size: 36px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.springRolls img,
.pho img,
.bun-cha img {
    border-radius: 28px;
    max-width: 250px;
}

.foods {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

/* Pho section */
.phoImg img {
    max-width: 800px;
    border-radius: 28px;
}


.phoImg h1 {
    font-size: 36px;
}
.pho-section {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.phoRecipe h1 {
    font-size: 55px;
    text-align: center;
}

.phoRecipe {
    border-style: inset;
    border-color: pink;
    background-color: white;
    border-radius: 24px;
    border-width: 10px;
    margin-bottom: 160px;
    padding-bottom: 160px;
}

@font-face {
    font-family: pixelFont;
    src: url(pixel.ttf);
}

.phoRecipe h1,
.ingredients h3,
.ingredients li,
.secondIngredients h3,
.secondIngredients li {
    font-family: pixelFont;
}

.ingredients {
    display: flex;
    justify-content: space-around;
}

.ingredientsHeading {
    margin-bottom: 160px;
}

